body {
    font-family: cursive; 
    margin: auto;
    padding: 12px;
    background-color: aliceblue;
}

.header h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 0 auto;
    text-align: left;
    background-image: url(/Images/design2_image1.jpg);
    background-position: 0 55px;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 250px;
}


.header_2 {
    background-color: white;
    color: black;
    height: 40px;
    margin: 0;
    text-align: center;
}

.header_2 h2 {
    margin: 0;
    font-size: 26px;
    border: 2px solid black;
    position: relative;
    
}

.logo {
    width: 10%;
    display: inline-block;
    padding: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: top;
    
}

nav {
    height: 40px;
    display: inline;
    position: absolute;
    top: 4%;
    right: 5%;
    
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline;
}

nav li {
    text-align: center;
    box-sizing: border-box;
    margin: 8px;
    display: inline-block;
    min-width: 80px;
    min-height: 30px;
    padding: 8px;
    background-color: blue;
    box-shadow: 10px 10px 5px black;
    border: 1px solid black;        
}

nav a,
nav p {
    text-decoration: none;
    color: black;
    margin: 0;
    
}

.active {
    background-color: green;
}



.events_content,
.about_content,
.contact_information {
    display: inline-block;
    padding-left: 16px;
    max-width: 75%;
    
}

.events li {
    margin-left: 26px;
    display: inline;
}

h2 {
    font-size: 24px;
    margin: 20px 4px 4px 20px;
}

h3 {
    font-size:18px; 
    margin: 20px 4px 4px 4px;
    font-style: italic;
    font-weight: normal;
}

.about_content p,
.contact_information p {
    display: block;
    margin: 20px 26px 4px 46px;
    text-align: justify;
}


