body {
    font-family: sans-serif; 
    margin: auto;
    padding: 12px;
    background-color: aliceblue;
}

.soccer_image {
    padding: 20px;
    width: 20%;
    height: 20%
}

header {
    display: inline-flex;
    width: 100%;
    margin: auto;
    
}

.logo {
    padding: 20px;
    width: 15%;
    height: 15%;
}

.header_right {
    display: block;
    width: 70%;    
}

h1 {
    text-align: left;
    font-size: 34px;
    padding: 50px 4px 50px 20px;
    margin: 0 auto;
    
}

section {
    display: inline-flex;
    width: 100%;
    
}

nav ul {
    margin: 0;
}

nav li {
   display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0 8px;
    text-align: center;
    
}

nav p {
    margin: 0;
}

.events li{
    margin-left: 26px;
    display: inline;
}

h2 {
    font-size: 24px;
    margin: 20px 4px 4px 20px;
}

h3 {
    font-size:18px; 
    margin: 20px 4px 4px 4px;
    font-style: italic;
    font-weight: normal;
}

.about_content p,
.contact_information p {
    display: block;
    margin: 20px 26px 4px 46px;
    text-align: justify;
}